# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Envs
venv/
.venv/
env/
ENV/

# Flask / instance
instance/
*.sqlite3
*.db

# Secrets
.env
.env.*
*.pem
*.key

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Build
dist/
build/
*.egg-info/
.snapshots/